.hpp_tableofcontents {
    padding: 10px;
    border: 1px solid #bbb;
    margin: 10px;
}

h2.hpp_header {
    margin:0px;
    margin-top:20px;
    margin-bottom:8px;
    font-size:16pt;
    font-weight:bold;
}

.inline_code {
    background-color:#f4f4f4; 
    font-family: "Consolas", "Monaco", monospace;
    color: #04a;
    padding:4px;
    border-radius:3px;
    font-size:11pt;
    display: inline-block;
}

body {
    line-height: 150%;
}