.bhsh_code {
	font-family: "Consolas", monospace;
	border-radius: 4px;
	padding:16px;
	line-height:130%;
	margin-top:4px;
	margin-bottom:4px;
}

.bhsh_code { background-color: #1d1d1d; color: #d4d4d4; }
.bhsh_string { color: #ce9178; }
.bhsh_control { color: #c586a1; text-shadow:0px 0px 1px #c586a1; }
.bhsh_constant { color: #499cb3; text-shadow:0px 0px 1px #499cb3; }
.bhsh_keyword { color: #499cb3; text-shadow:0px 0px 1px #499cb3; }
.bhsh_class { color: #4ec9b0; text-shadow:0px 0px 1px #4ec9b0; }
.bhsh_number { color: #b5cea8; }
.bhsh_comment { color: #6a9955; }
.bhsh_annotation { color: #777777; }

.syntax_vscode .bhsh_code { background-color: #1d1d1d; color: #d4d4d4; }
.syntax_vscode .bhsh_string { color: #ce9178; }
.syntax_vscode .bhsh_control { color: #c586a1; text-shadow:0px 0px 1px #c586a1; }
.syntax_vscode .bhsh_constant { color: #499cb3; text-shadow:0px 0px 1px #499cb3; }
.syntax_vscode .bhsh_keyword { color: #499cb3; text-shadow:0px 0px 1px #499cb3; }
.syntax_vscode .bhsh_class { color: #4ec9b0; text-shadow:0px 0px 1px #4ec9b0; }
.syntax_vscode .bhsh_number { color: #b5cea8; }
.syntax_vscode .bhsh_comment { color: #6a9955; }
.syntax_vscode .bhsh_annotation { color: #777777; }


.syntax_github .bhsh_code { background-color: #ffffff; color: #000; font-family: "Courier New", monospace;  border: 1px solid #d1d5da; border-radius:3px; font-size: 12px; line-height: 20px; }
.syntax_github .bhsh_string { color: #032f62; }
.syntax_github .bhsh_control { color: #d73a49; }
.syntax_github .bhsh_constant { color: #005cc5; }
.syntax_github .bhsh_keyword { color: #d73a49; }
.syntax_github .bhsh_class { color: #6f42c1; }
.syntax_github .bhsh_number { color: #005cc5; }
.syntax_github .bhsh_comment { color: #6a737d; }
.syntax_github .bhsh_annotation { color: #6a737d; }
